.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  padding: 20px;
  background-color: blueviolet;
  margin: 20px auto;
  gap: 50px;
  position: relative;

}
form{
  position: sticky;
 display: flex;
 flex-direction: column;
 gap: 5px;
}
form input{
  padding: 6px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  outline: none;
 }
 form input:nth-child(3){
  background-color: rgb(3, 87, 100);
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 5px 5px;
}